---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <h2>Sample Pages</h2>
  <p><a href="/asciidoc-sample.html">AsciiDoc Sample</a></p>
  <p><a href="/docs/guide.html">Guide</a></p>
</div>
